body {
  background-color: coral;
}

.navigation {
  background-color: orange;
}

blockquote {
  color: coral;
  background-color: aliceblue;
}

.secondHeader {
  background-color: black;
}

.secondHeader h2 {
  color: white;
}

.secondHeaderText {
  color: yellow;
}
