.tooltip-container {
  position: relative;
  /* display: inline-block; */
}

.tooltip {
  position: absolute;

  text-align: center;
  z-index: 1;
  border: 1px solid black;
  border-radius: 0px 10px 10px 10px;
  background-color: blue;
  padding: 0.5rem;
  left: 2rem;
  visibility: hidden;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}
